<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Dashboard', admin_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Chapters', admin_chapters_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Districts', admin_districts_path, class: 'nav-link' %>
  </li>
</ul>
