<div class="card mb-3" id="<%= dom_id district %>">
    <div class="card-body">
        <dl class="row">
            <dt class="col-2">Name</dt>
            <dd class="col-10"><%= link_to district.name, admin_district_path(district) %></dd>
            <dt class="col-2">Short Name</dt>
            <dd class="col-10"><%= district.short_name %></dd>
        </dl>
    </div>
    <% unless current_page?(admin_districts_url) %>
    <div class="card-body border-top">
        <% unless district.chapters.empty? %>
        <h5>Chapters</h5>
        <ul>
            <% district.chapters.each do |chapter| %>
            <li><%= link_to chapter.name, admin_chapter_path(chapter) %></li>
            <% end %>
        </ul>
        <% else %>
        <div class="alert alert-primary">No chapters in this district</div>
        <% end %>
    </div>
    <% end %>
</div>
