<%= render 'admin/admin_menu' %>

<h1>Districts</h1>

<div id="districts">
  <% @districts.each do |district| %>
    <%= render district %>
    <p>
      <%= link_to "Show this district", admin_district_path(district) %>
    </p>
  <% end %>
</div>

<%= link_to "New district", new_admin_district_path %>
