<div class="card mb-3" id="<%= dom_id region %>">
    <div class="card-body">
        <dl class="row">
            <dt class="col-2">Name</dt>
            <dd class="col-10"><%= link_to region.name, admin_region_path(region) %></dd>
            <dt class="col-2">Short Name</dt>
            <dd class="col-10"><%= region.short_name %></dd>
        </dl>
    </div>
    <% unless current_page?(admin_regions_url) %>
    <div class="card-body border_top">
        <div data-controller="map" data-map-url-value="<%= map_data_path(format: :json, region_id: region.id) %>">
            <div class="row">
                <div class="col-lg-9">
                    <div id="map" class="map-box"></div>
                </div>
                <div class="col-lg-3">
                    <div id="chapter_list" class="chapter-list overflow-scroll"></div>
                </div>
            <div>
        </div>
    </div>
    <% end %>
</div>
