<div class="card mb-3" id="<%= dom_id region %>">
    <div class="card-body">
        <dl class="row">
            <dt class="col-2">Name</dt>
            <dd class="col-10"><%= link_to region.name, admin_region_path(region) %></dd>
            <dt class="col-2">Short Name</dt>
            <dd class="col-10"><%= region.short_name %></dd>
        </dl>
    </div>
    <% unless current_page?(admin_regions_url) %>

    <div class="card-body border_top">
        <% unless region.chapters.empty? %>
        <h5>Chapters</h5>
        <% region.chapters.each do |chapter| %>
        <%= render 'admin/chapters/chapter', chapter: chapter %>
        <% end %>
        <% else %>
        <div class="alert alert-primary">No chapters in this region</div>
        <% end %>
    </div>
    <% end %>
</div>
