<%= render 'admin/admin_menu' %>

<h1>Editing region</h1>

<%= render "form", region: @region %>

<br>

<div>
  <%= link_to "Show this region", admin_region_path(@region) %> |
  <%= link_to "Back to regions", admin_regions_path %>
</div>
