<ul class="nav">
  <li class="nav-item">
    <li><%= link_to 'Back to Map', root_url(), class: 'nav-link' %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to 'Chapters', chapters_url(), class: 'nav-link' %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to 'Regions', regions_url(), class: 'nav-link' %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to 'Districts', districts_url(), class: 'nav-link' %></li>
  </li>
</ul>