<div data-controller="map" data-map-url-value="<%= admin_chapters_map_path(format: :json) %>">
    <div class="d-flex flex-row mb-2">
        <%= render 'admin/admin_menu' %>

        <div class="p-1">
            <%= select_tag :district, options_from_collection_for_select(@districts, :id, :name), include_blank: 'Districts', class: 'form-select', autocomplete: 'off', data: { action: "change->map#filterDistrict" } %>
        </div>
        <div class="p-1">
            <%= search_field_tag :search, nil, class: 'form-control', placeholder: 'Search ...', autocomplete: 'off', data: { action: "input->map#filterSearch:capture" } %>
        </div>
        <div class="p-1">
            <button class="btn btn-outline-secondary" data-action="click->map#resetForm">Reset</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div id="map" class="map-box"></div>
        </div>
        <div class="col-lg-3">
            <div id="chapter_list" class="chapter-list overflow-auto"></div>
        </div>
    <div>
</div>
