<% content_for :title, 'New Chapter' %>

<%= render 'admin/admin_menu' %>

<h1>New chapter</h1>

<%= render "form", chapter: @chapter %>

<br>

<div>
  <%= link_to "Back to chapters", admin_chapters_path %>
</div>
